body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Inter;
    position: relative;
    height: 4000px;
}
#wrapper {
    width: 100%;
    background: #CBECFF;
    overflow: visible;
    height: 676px;
    position: relative;
    top: 0;
    left: 0;
}
.container {
    max-width: 1024px;
    padding: 0 60px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.language {
    margin-top: 24px;
    float: right;
}
.active_lang {
    color: #0962E8;
    background-color: #FFF;
    border-radius: 50%;
    padding: 5px;
}
.inactive_lang {
    margin-left: 12px;
    padding: 4px;
}
.header {
    margin-top: 130px;
}
.header_text {
    max-width: 36%;
}
.fin {
    color: #29374E;
    font-weight: Bold;
    font-size: 64px;
}
.kit {
    color: #0962E8;
    font-weight: Bold;
    font-size: 64px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 1px 15px;
}
.company_info {
    margin-top: 16px;
    color: #29374E;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
}
button {
    background-color: #0962E8;
    color: #FFF;
    border-radius: 12px;
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px;
}
.demo_btn {
    margin-top: 37px;
    width: 199px;
}
.header_img {
    position: absolute;
    top: 0;
    left: 45%;
    pointer-events: none;
}
.header_blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    display: flex;
    align-items: center;
    width: 242px;
    height: 118px;
    border: none;
    background-color: #FFF;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 197px;
    margin-bottom: 10px;
    box-shadow: 6px 4px 12px 0 rgba(0, 0, 0, 0.05);
    z-index: 3;

}
.block_text {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #29374E;
    width: 160px;
    padding-right: 0;
    padding-left: 20px;
}
#block_3 {
    width: 120px;
}
#icon_3 {
    right: -40px;
}
.block i {
    font-size: 24px;
    position: relative;
    top: -23px;
    color: #0962E8;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: #EFF9FF;
    border: none;
    border-radius: 50%;
    padding: 5px 6px 6px 4px;
    text-align: center;
    vertical-align: center;
}
.info_block {
    margin-top: 115px;
}
.info_block h1 {
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    color: #29374E;
    margin: 0   ;
}
.info_block h1 span {
    color: #0962E8;
}
.products {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_card {
    background-color: #E9F6FF;
    border-radius: 30px;
    border: none;
    margin-top: 44px;
    width: 50%;
    height: 328px;
    display: flex;
}
.product_card:first-child {
    margin-right: 20px;
}
.product_card h2 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 37px;
    padding-left: 20px;
    margin: 0;
}
.product_card .description {
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 12px;
}
.product_card img {
    width: auto;
    height: 310px;
    position: relative;
    top: 20px;
    left: 60px;
}
.demo_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 114px;
}
.demo_block_text {
    max-width: 50%;
    margin-right: 20px;
}
.demo_block_text  h1{
    text-align: left;
}
.demo_block_text .description {
    font-size: 14px;
    font-weight: 500;
    margin-top: 21px;
    max-width: 70%;
    color: #1E2837;
}
.advantages_row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}
.advantage {
    font-weight: 500;
    font-size: 14px;
    color: #29374E;
    max-width: 40%;
    margin-right: 20px;
}

@media (max-width: 1200px) and (min-width: 768px) {
    #wrapper {
        height: auto;
    }
    .container {
        padding: 24px 16px;
    }
    .language {
        position: absolute;
        right: 40px;
        top: 0;
    }
    .company_info {
        margin-top: 16px;
        color: #29374E;
        font-weight: 400;
        font-size: 22px;
        text-align: left;
    }
    .header_text {
        max-width: 45%;
    }
    .header_img {
        position: absolute;
        top: -10px;
        left: 45%;
        pointer-events: none;
    }
    .header_blocks {
        flex-wrap: wrap;
        gap: 18px;
    }
    .block {
        width: 171px;
        margin-right: auto;
    }
    .block_text {
        font-size: 14px;
        width: 160px;
        padding-right: 0;
        padding-left: 10px;
    }
    #block_3 {
        width: 120px;
    }
    #icon_3 {
        right: 10px;
    }
    #icon_1 {
        right: 16px;
    }
    .block i{
        font-size: 24px;
        position: relative;
        top: -30px;
        right: 10px;
        color: #0962E8;
    }
    .info_block {
        margin-top: 20px;
    }
    .products {
        display: block;
        max-width: 700px;
        margin: 0 auto;
    }
    .product_card {
        width: 100%;
        height: 275px;
        justify-content: center;
        margin: 24px 0 0 0;
    }
    .product_card h2 {
        font-size: 24px;
        padding: 25px 0 0 16px;
    }
    .product_card .description {
        font-size: 16px;
        padding: 15px 0 0 16px;
    }
    .product_card img {
        height: 270px;
        position: relative;
        top: 5px;
        left: 20px;
    }
    .card_text {
        max-width: 60%;
        position: relative;
        left: -20px;
    }
    .product_card br {
        display: none;
    }
    .demo_block {
        margin-top: 30px;
        display: block;
    }
    .demo_block_text {
        max-width: 100%;
        margin-right: 0;
    }
    .demo_block_text .description {
        text-align: center;
        max-width: 80%;
        margin: 10px auto 12px auto;
        font-size: 16px;
    }
    .demo_block h1 {
        text-align: center;
    }
    .demo_advantages {
        margin-top: 32px;
    }
    .demo_block .demo_btn{
        margin: 20px auto;
        display: block;
        font-size: 20px;
    }
    .advantages_row {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-auto-rows: minmax(15px, auto);
        gap: 45px;
        margin-bottom: 20px;
    }
    .advantage img {
        position: absolute;
        left: 18px;
        top: -10px;
    }
    .advantage {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;

        border: none;
        height: 118px;
        width: 100%;
        position: relative;
        max-width: 100%;
        padding: 0 10px 10px 18px;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 6px 4px 12px 0 rgba(0, 0, 0, 0.05);
        margin: 0 0 10px 0;

        z-index: 3;
    }
}
@media (max-width: 768px) and (min-width: 576px) {
    #wrapper {
        height: auto;
    }
    .container {
        padding: 24px 16px;
    }
    .language {
        position: absolute;
        right: 25px;
        top: 0;
    }
    .header {
        display: block;
        margin-top: 0;
    }
    .header_img {
        position: absolute;
        top: 30px;
        right: -380px;
        left: auto;
    }
    .header_img img {
        max-width: 80%;
        height: auto;
    }
    .header_text {
        position: relative;
        margin-top: 180px;
        display: block;
        max-width: 40%;
        font-size: 18px;
    }
    .kit, .fin {
        font-size: 48px;
    }
    .company_info {
        font-size: 16px;
    }
    .header_blocks {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-auto-rows: minmax(15px, 125px);
        gap: 15px;
        margin-top: 130px;
    }
    .block, .advantage {
        max-width: 100%;
        width: 100%;
        position: relative;
        margin: 0 0 10px 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .block_text {
        position: relative;
        font-size: 16px;
        padding: 40px 10px 10px 20px;
        text-align: left;
        top: -10px;
        width: auto;
    }
    .block i, .advantage img {
        position: absolute;
        left: 18px;
        top: -10px;
    }
    #block_3 {
        width: auto;
    }
    .info_block {
        margin-top: 16px;
    }
    .info_block h1 {
        font-size: 36px;
        font-weight: 600;
    }
    .products {
        display: block;
    }
    .product_card {
        width: 100%;
        height: 275px;
        justify-content: space-between;
        margin-top: 24px;
    }
    .product_card:last-child {
        margin-top: 16px;
    }
    .product_card h2 {
        font-size: 24px;
        padding: 25px 0 0 16px;
    }
    .product_card .description {
        font-size: 16px;
        padding: 15px 0 0 16px;
    }
    .product_card img {
        height: 270px;
        position: relative;
        top: 5px;
        left: 0;
    }
    .card_text {
        max-width: 60%;
    }
    .product_card br {
        display: none;
    }
    .demo_block {
        margin-top: 40px;
        display: block;
    }
    .demo_block_text {
        max-width: 100%;
        margin-right: 0;
    }
    .demo_block_text .description {
        text-align: center;
        max-width: 100%;
        font-size: 16px;
        margin: 10px 10px 12px 10px;
    }
    .demo_block h1 {
        text-align: center;
    }
    .demo_advantages {
        margin-top: 32px;
    }
    .demo_block .demo_btn{
        margin: 20px auto;
        display: block;
        font-size: 20px;
    }
    .advantages_row {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-auto-rows: minmax(15px, auto);
        gap: 45px;
        margin-bottom: 20px;
    }
    .advantage {
        display: flex;
        align-items: center;
        border: none;
        height: 118px;
        padding: 0 10px 10px 18px;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 6px 4px 12px 0 rgba(0, 0, 0, 0.05);
        z-index: 3;
    }
}

@media (max-width: 576px) {
    #wrapper {
        height: auto;
    }
    .container {
        padding: 24px 16px;
    }
    .language {
        position: absolute;
        right: 25px;
        top: 0;
    }
    .header {
        display: block;
        margin-top: 0;
    }
    .header_img {
        position: relative;
        left: -25px;
    }
    .header_img img {
        max-width: 155%;
        height: auto;
    }
    .header_text {
        position: relative;
        top: -45px;
        display: inline;
    }
    .kit, .fin {
        font-size: 48px;
    }
    .company_info {
        font-size: 16px;
    }
    .demo_btn {
        margin-top: 10px;
        width: 100%;
    }
    .header_blocks {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-auto-rows: minmax(15px, auto);
        gap: 15px;
        top: -15px;
    }
    .block, .advantage {
        max-width: 100%;
        position: relative;
        margin: 0 0 10px 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .block_text {
        position: relative;
        font-size: 14px;
        padding: 40px 10px 10px 20px;
        text-align: left;
        top: -10px;
        width: auto;
    }
    .block i, .advantage img {
        position: absolute;
        left: 18px;
        top: -10px;
    }
    #block_3 {
        width: auto;
    }
    .info_block {
        margin-top: 16px;
    }
    .info_block h1 {
        font-size: 24px;
        font-weight: 600;
    }
    .products {
        display: block;
    }
    .product_card {
        width: 100%;
        height: 215px;
        justify-content: space-between;
        margin-top: 24px;
    }
    .product_card:last-child {
        margin-top: 16px;
    }
    .product_card h2 {
        font-size: 16px;
        padding: 25px 0 0 16px;
    }
    .product_card .description {
        font-size: 13px;
        padding: 5px 0 0 16px;
    }
    .product_card img {
        height: 210px;
        position: relative;
        top: 5px;
        left: 0;
    }
    .card_text {
        max-width: 60%;
    }
    .product_card br {
        display: none;
    }
    .demo_block {
        margin-top: 40px;
        display: block;
    }
    .demo_block_text {
        max-width: 100%;
        margin-right: 0;
    }
    .demo_block_text .description {
        text-align: center;
        max-width: 100%;
        margin: 10px 0 12px 0;
    }
    .demo_block h1 {
        text-align: center;
    }
    .demo_advantages {
        margin-top: 32px;
    }
    .advantages_row {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-auto-rows: minmax(15px, auto);
        gap: 15px;
        margin-bottom: 20px;
    }
    .advantage {
        display: flex;
        align-items: center;
        border: none;
        height: 118px;
        padding: 0 10px 10px 18px;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 6px 4px 12px 0 rgba(0, 0, 0, 0.05);
        z-index: 3;
    }
}